.topbar-icon{
    height: 35px;
    width: 35px;
    position: absolute;
    left: 10px;
}

/*Hover overwrite over bootstraps hover*/
/* overwrite doesnt seem to work
.topbar-button:hover{
   hover: red !important;
}
.topbar-nav > Link:hover {
   color: #fff;
   z-index: 1;
}
*/