.ProfileEditorContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
}



/**************************************************/
/*                    Buttons                     */
/**************************************************/

.Button{
    text-align: center;
    width: 120px;
}

.ButtonSave{
    align-self: center;
    text-align: center;
    width: 60px;
}

.ButtonCancel{
    align-self: center;
    text-align: center;
    width: 60px;
}

/**************************************************/